# Semana03
Carlos Gomez Morales

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. Variables

In [1]:
# Siempre deben iniciar con una letra o un guión abajo (nunca con un número o símbolo)

In [2]:
edad = 19

In [3]:
edad

19

In [4]:
nombre = "David"

In [5]:
nombre

'David'

In [6]:
apellido = "Rosado Valerio"

In [7]:
apellido

'Rosado Valerio'

In [8]:
nombrecompleto = nombre + " " + apellido

In [9]:
nombrecompleto

'David Rosado Valerio'

In [10]:
# Para saber el tipo de variable utilizamos la función type()
# Por ejemplo

numero = 50
type(numero)

int

In [11]:
type(nombre)

str

In [12]:
talla = 1.78
type(talla)

float

In [13]:
# Para convertir un número en cadena utilizamos el comando srt()

numero = 100
cadena = str(numero)
type(numero)
type(cadena)

str

In [14]:
cadena

'100'

In [15]:
# Para convertir una cadena en un entero utilizamos la función int()

cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [16]:
type(numero2)

int

In [17]:
# Para convertir una cadena a un decimal utilizamos float()

In [18]:
cadena2 = "50"
numero3 = float(cadena2)
numero3

50.0

In [19]:
type(numero3)

float